# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode/
.vscode/*
.DS_Store
.idea/


*.pyc
*.pyo
*.gz

*.log

.ipynb_checkpoints/
.idea/
*.h5
runs/


__pycache__/
*.gz
*.tar.gz
cifar-10-batches-py/
*.pth

# java
*.class




